body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('img/img2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    padding: 10px;
    background-color: rgba(254, 254, 254, 0.243);
    border-radius: 20px;
}

#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

ul {
    padding: 0;
    width: 140px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}